{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> 编辑靓号 </h3>
            </div>
            <div class="panel-body">
                <form class="col-md-6 col-md-offset-3" method="post" novalidate>
                    {% csrf_token %}

                    {% for field in form %}
                        {# 获取对应字段的中文名 #}
                        <label>{{ field.label }}： </label>
                        {{ field }}
                        {# 报错信息 #}
                        <span style="color: red;">{{ field.errors.0 }}</span>
                        <br />
                    {% endfor %}

                    <button type="submit" class="btn btn-primary">提  交</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}