{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>部门列表</title>
        {# 引入插件 #}
        <!-- 新 Bootstrap 核心 CSS 文件 -->
        <link href="{% static 'other/bootstrap-3.4.1/css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="{% static 'other/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
    </head>
    <body>
        {# 导航栏 #}
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">XX用户管理系统</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/depart/list/">部门管理</a></li>
                        <li><a href="#">用户管理</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">登录</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">当前登录用户 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">个人资料</a></li>
                                <li><a href="#">我的消息</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">注销</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {# body #}
        <div class="container">
            {# 按钮区域 #}
            <div style="margin-bottom: 20px;">
                {# target="_blank" —— 在新的标签页打开 #}
                <a class="btn btn-success" href="/depart/add/" >
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    新建部门
                </a>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    部门列表
                </div>
                <!-- 表格 -->
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>部门名称</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in depart_list %}
                        <tr>
                            <th >{{ i.id }}</th>
                            <td>{{ i.title }}</td>
                            <td>
                                <a class="btn btn-primary btn-xs" href="/depart/{{ i.id }}/edit/">编辑</a>
                                <a class="btn btn-danger btn-xs" href="/depart/delete/?nid={{ i.id }}">删除</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>


            {# 表格区域 #}
            <div>

            </div>
        </div>
    </body>
</html>